<IfModule mod_rewrite.c>
  Options +FollowSymlinks
  RewriteEngine On
    #默认情况
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^/?(.*)$ index.php?s=$1 [QSA,PT,L]
    RewriteCond $1 !^(index\.php|images|robots\.txt)
</IfModule>
